body{

}
.container{
    width: 100%;
    max-width: 1280px;
    margin: 63px 100px 30px;
    margin-inline: auto;
}
.ramda_header-menu{
    width: 100%;
    background-color: #35444F;
    margin-bottom: 50px;
}
div.ramda_header-menu_list{
    width: 970px;
    margin-left: 160px;
    margin-right: 150px;
    display: flex;
    justify-content: space-evenly;
}

div.ramda_header-menu_list>a{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    padding-top: 26px;
    padding-bottom: 26px;
    align-self: stretch;


}
div.ramda_header-menu_list>a:first-child{
    border-left: 1px solid white;
    padding-left: 32px;
}

div.ramda_header-menu_list>a:nth-child(3){
    border-right: 1px solid white;
    padding-right: 32px;
}
div.ramda_header-menu_list>a:nth-child(4){
    border-right: 1px solid white;
    padding-right: 32px;

}

#ramda{
    width: 150px;
    text-align: center;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#ramda:hover{
    background-color: #222F3A;
}


.ramda_logo span{
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    color: #4BCAFF;
}

.ramda_logo{
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    color: #000000;
    display: block;
    margin-bottom: 40px;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.ramda_left-menu{
    width: 344px;
    border: 1px solid #000000;
}

.ramda_about{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}
.ramda_about>a{
    font-weight: 400;
    font-size: 27px;
    color: #485863;
    padding: 30px 0 30px 44px;
}

.ramda_about>a:hover{
    background-color: #DBDBDB;
    color: #000000;
}

.ramda_main{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ramda_main_image{
    width: 890px;
    height: 530px;
    border: 1px solid #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    overflow: hidden;
}
#image:hover{
    transform: scale(1.4);
    transition: 1s;


}
.ramda_main_text1,
.ramda_main_text2{
    width: 890px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #2C2C2C;
    display: flex;
}

.ramda_main_text1{
    margin-bottom: 40px;
}

.ramda_main_text2{
    margin-bottom: 50px;
}

.ramda_bottom-menu{
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;

}

.ramda_options-list{
    width: 880px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    margin: 20px 135px 20px 40px;
}
nav>a{
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #0C1927;
}
#why-ramda:hover{
    color: #3181A6;
}
#why-ramda:after{
    content: "";
    background-color: #3181A6;
    height: 2px;
    position: absolute;
    width: 0;
    bottom: -10px;
    left: 0;
}
#why-ramda:hover:after{
    width: 100%;
}

#copyright{
    width:190px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #010101;
}
